@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

#pad {
  fill: #ff4a37 !important;
}

.wall {
  fill: blueviolet !important;
}
/*  */
@font-face {
  font-family: PP;
  src: url(../../public/fonts/PPMondwest-Regular.otf);
}
@font-face {
  font-family: PPbold;
  src: url(../../public/fonts/PPNeueBit-Bold.otf);
}
@font-face {
  font-family: DueraMed;
  src: url(../../public/fonts/Duera-NormMedi-PERSONAL.ttf);
}
@font-face {
  font-family: headingPro;
  src: url(../../public/fonts/Heading-Pro-ExtraBold-trial.ttf);
}
@font-face {
  font-family: Inter;
  src: url(../../public/fonts/Inter.ttf);
}
@font-face {
  font-family: Cormorant;
  src: url(../../public/fonts/Cormorant.ttf);
}
@font-face {
  font-family: "Libre Barcode 39";
  src: url(../../public/fonts/Libre.ttf);
}
.pp {
  font-family: PP;
}
.ppBold {
  font-family: PPbold;
}
.inter {
  font-family: "Inter";
  letter-spacing: -0.35px;
}
.Cormorant {
  font-family: "Cormorant", serif;
}

.barcode {
  font-family: "Libre Barcode 39", cursive;
  font-weight: 400;
  color: white;
}
.duera {
  font-family: DueraMed;
}
.headingPro {
  font-family: headingPro;
  letter-spacing: -0.06em;
}
.textShadow {
  color: #000000;
  text-shadow: 2px 2px 0 #c2c2c2, 2px -2px 0 #c2c2c2, -2px 2px 0 #c2c2c2,
    -2px -2px 0 #c2c2c2, 2px 0px 0 #c2c2c2, 0px 2px 0 #c2c2c2,
    -2px 0px 0 #c2c2c2, 0px -2px 0 #c2c2c2;
}

.textShadow:hover {
  text-shadow: none;
}

.dashed-line {
  background-image: repeating-linear-gradient(
    to right,
    transparent,
    transparent 8px,
    #fff 8px,
    #fff 18px
  );
}

.text-stroke-english {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.14);
}

@media (min-width: 1280px) {
  .text-stroke-english {
    -webkit-text-stroke-width: 3px;
  }
}

::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: gray; /* Color of the scrollbar thumb */
}
